* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#nameTag {
  font-size: 40px;
  min-height: 50vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  background-color: #333;
  z-index: 1000;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  justify-content: flex-end;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #f39c12; /* Hover color */
}

/* Optional: Add styles for when navbar is not visible */
.navbar.hidden {
  transform: translateY(-100%);
}

/* About Section Styles */
.about-container {
  padding: 2rem;
  text-align: left;
}

.about-title {
  text-align: left;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.projects-container {
  display: flex;
  height: 100%;
  align-items: flex-start;
  gap: 4em;
  
}

.projects-secTitle {
  flex: 0 0 auto;
  margin-right: 20px;
  font-size: 2rem;
  text-align: left;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: .2em;
  margin-top: 2.8em;
  flex-grow: 1;
}

.project-section {
  position:relative;
  background-color: #333333;
  opacity: 0.7;
  padding: 1.7em;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;

}

.project-section:hover {
  color: red;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-title {
  text-align: center;
}

.project-description{
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  border-radius: 10px; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(95, 78, 78, 0.2); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  transition: all 0.3s ease;
  word-wrap: break-word;
  color: white;
  margin-top: 16px;
  height: 15em;
  width: 30em;

}

.project-image {
  width: 40%;
  border-radius: 5px;
  position: absolute;
  bottom: 70%;
  left: 75%;

}

.cursor-trail {
  position: fixed;
  width: 30px; 
  height: 30px; 
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  animation: fade-out 0.3s forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
